.maintxt {
	font-family: "ו";
	font-size: 10pt;
	line-height: 25px;
	font-weight: normal;
	color: #000000;
}

.maintitle {
	font-family: "ו";
	font-size: 10pt;
	line-height: 25px;
	font-weight: bold;
	color: #000000;
}

.leftkey {
	font-family: "ו";
	font-size: 10pt;
	line-height: 20px;
	font-weight: bold;
	color: #ff0000;
}