body {
    font-size: 12px;
    color: #4b4b4b;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    margin-top: 10px;
    SCROLLBAR-FACE-COLOR: #DAE6F7;
    SCROLLBAR-HIGHLIGHT-COLOR: #DEF1FF;
    SCROLLBAR-SHADOW-COLOR: #B0CFF4;
    SCROLLBAR-3DLIGHT-COLOR: #ffffff;
    SCROLLBAR-ARROW-COLOR: #366AB3;
    SCROLLBAR-TRACK-COLOR: #E7EFF9;
    SCROLLBAR-SHADOW-COLOR: #B0CFF4;
    SCROLLBAR-DARKSHADOW-COLOR: #5484BD;
}

.welcomeBody {
    overflow: hidden;
}

.welcomeTable {
    background-image: url(../images/frame/welcome.gif);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    border: 1px solid #98B7D2;
    margin-top: 1px;
}

td, select, input {
    font-size: 12px;
}

a:visited {
    color: #666699;
    text-decoration: none;
}

a:link {
    color: #3366CC;
    text-decoration: none;
    font-size: 12px;
}

a:hover {
    color: #FF0000;
    text-decoration: none;
    position: relative;
    top: 1px;
    right: 1px;
}

.red {
    color: #FF0000;
    font-size: 12px;
    margin: 5px;
}

.table-location {
    font-size: 14px;
    color: #000000;
    height: 22px;
    width: 750px;
}

.table-button-style {
    text-align: right;
    padding-right: 40px;
}

.table-button-style2 {
    padding-right: 40px;
}

.table-location td {
    text-align: left;
    text-indent: 10px;
}

.table-frame {
    margin: 15px;
    width: 95%;
    border-right-width: 3px;
    border-bottom-width: 4px;
    border-right-style: inset;
    border-bottom-style: inset;
    border-right-color: #E4E4E4;
    border-bottom-color: #BBBBBB;
    border-top-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-left-style: solid;
    border-top-color: #B7C9E2;
    border-left-color: #B7C9E2;
}

.table-form {
    width: 100%;
    background-color: #CAD8EA;
    houbo-border: expression( this . border = 0 );
    houbo-cellspacing: expression( this . cellSpacing = 1 );
    houbo-cellpadding: expression( this . cellPadding = 2 );
}

.table-form td.table-title {
    font-size: 14px;
    color: #003366;
    text-align: left;
    text-indent: 20px;
    height: 22px;
    background-image: url(../images/tableTitleBg.gif);
    background-repeat: repeat-x;
}

.table-form td.table-title1 {
    font-size: 12px;
    color: #000000;
    text-align: center;
    height: 22px;
    background-color: #F8FAFB;
}

.table-form td {
    width: 15%;
    /*  text-align: right;*/
    padding-right: 10px;
    background-color: #FFFFFF;
    font-size: 12px;
    height: 22px;
    padding-left: 6px;
    color: #3d3d3d;
}

.table-form td.two-content {
    width: 79%;
    font-size: 12px;
    background-color: #FFFFFF;
    text-align: left;
    padding-left: 10px;
}

.table-form td.half-content {
    width: 50%;
    font-size: 12px;
    background-color: #FFFFFF;
    text-align: right;
    padding-left: 10px;
}

.table-form td.half-content-input {
    width: 50%;
    font-size: 12px;
    background-color: #FFFFFF;
    text-align: left;
    padding-left: 10px;
}

.table-form td.table-list_title {
    font-size: 12px;
    color: #000000;
    text-align: left;
    height: 22px;
    padding-left: 20px;
    background-color: #F8FAFB;
}

.text-area {
    font-size: 12px;
    width: 96.5%;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #6699CC;
    border-right-color: #DFE8F3;
    border-bottom-color: #DFE8F3;
    border-left-color: #6699CC;
    overflow: auto;
}

.table-form td.four-content {
    width: 30%;
    font-size: 12px;
    background-color: #FFFFFF;
    text-align: left;
    padding-left: 10px;
}

.table-form td.four-label {
    font-size: 12px;
    background-color: #FFFFFF;
    text-align: left;
    padding-left: 10px;
}

.table-form td.six-content {
    width: 20%;
    font-size: 12px;
    background-color: #FFFFFF;
    text-align: left;
    padding-left: 5px;
}

.table-form td.six-content2 {
    width: 20%;
    font-size: 12px;
    background-color: #FFFFFF;
    text-align: left;
    padding-left: 5px;
    td-nowrap: expression(this.noWrap=true);
}

.table-form td.six-label {
    width: 13.3%;
    font-size: 12px;
    background-color: #FFFFFF;
    text-align: right;
    padding-left: 5px;
}

.table-form td.eight-content {
    width: 12%;
    font-size: 12px;
    background-color: #FFFFFF;
    text-align: left;
    padding-left: 10px;
}

.table-form td.eight-label {
    width: 13%;
    font-size: 12px;
    background-color: #FFFFFF;
    text-align: right;
    padding-left: 10px;
}

.table-form input {
    font-size: 12px;
    width: 115px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #6699CC;
    border-right-color: #DFE8F3;
    border-bottom-color: #DFE8F3;
    border-left-color: #6699CC;
}

/*�����ı��������ʽ,����һ�����е����*/
.table-form input.input-longer {
    font-size: 12px;
    width: 96.5%;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #6699CC;
    border-right-color: #DFE8F3;
    border-bottom-color: #DFE8F3;
    border-left-color: #6699CC;
}

.table-form input.input-longer-number {
    font-size: 12px;
    text-align: right;
    width: 96.5%;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #6699CC;
    border-right-color: #DFE8F3;
    border-bottom-color: #DFE8F3;
    border-left-color: #6699CC;
}

.table-form input.checkbox {
    width: 18px;
}

.table-form input.radiobutton {
    width: 18px;
    cursor: hand;
}

.table-form input.number-error {
    width: 90%;
    text-align: right;
    border-top-color: #CC0000;
    border-right-color: #FFC1C1;
    border-bottom-color: #FFC1C1;
    border-left-color: #CC0000;
}

.table-form input.number {
    width: 90%;
    text-align: right;
}

.table-button {
    text-align: center;
    margin: 2px;
    width: 100%;
    cursor: hand;
}

.table-button input {
    font-size: 12px;
    color: #003366;
    background-color: #FFFFFF;
    background-image: url(../images/inputOk.gif);
    text-align: center;
    vertical-align: bottom;
    border: none;
    height: 23px;
    width: 45px;
    cursor: hand;
}

.table-button input.cancle {
    font-size: 12px;
    color: #003366;
    background-color: #FFFFFF;
    background-image: url(../images/cancle.gif);
    text-align: center;
    vertical-align: bottom;
    border: none;
    height: 23px;
    width: 45px;
    cursor: hand;
}

.table-button input.delete {
    font-size: 12px;
    color: #003366;
    background-color: #FFFFFF;
    background-image: url(../images/inputDelete.gif);
    text-align: center;
    vertical-align: bottom;
    border: none;
    height: 23px;
    width: 45px;
    cursor: hand;
}

.table-button input.long {
    font-size: 12px;
    color: #003366;
    background-color: #FFFFFF;
    background-image: url(../images/bottonFontLong.gif);
    text-align: center;
    vertical-align: bottom;
    border: none;
    height: 23px;
    width: 80px;
    cursor: hand;
}

.table-button input.longer {
    font-size: 12px;
    color: #003366;
    background-color: #FFFFFF;
    background-image: url(../images/bottonFontLonger.gif);
    text-align: center;
    vertical-align: bottom;
    border: none;
    height: 23px;
    width: 100px;
    cursor: hand;
}

.pagination {
    font-size: 12px;
    color: #003366;
    margin: 2px;
    width: 100%;
    text-align: right;
}

.pagination input.input-go {
    font-size: 12px;
    width: 20px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #6699cc;
    border-right-color: #dfe8f3;
    border-bottom-color: #dfe8f3;
    border-left-color: #6699cc;
    cursor: hand;
}

.pagination input.go {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #003366;
    background-image: url(../images/bottonGo.gif);
    background-repeat: no-repeat;
    text-align: center;
    height: 23px;
    width: 23px;
    border: none;
    background-color: #FFFFFF;
    vertical-align: bottom;
    cursor: hand;
}

.pagination input.next {
    font-size: 12px;
    color: #003366;
    background-color: #FFFFFF;
    text-align: center;
    height: 23px;
    width: 35px;
    border: none;
    background-image: url(../images/bottonPage.gif);
    vertical-align: bottom;
    cursor: hand;
}

.pizhu {
    padding-left: 20px;
    text-align: left;
}

.title-table {
    width: 260px;
}

.title-table td.image {
    width: 3px;
    background-image: url(../images/arrowDown.gif);
    background-repeat: no-repeat;
    width: 12px;
    background-position: center;
}

.title-table td.title {
    width: 220px;
    height: 20px;
    font-size: 14px;
    color: #003366;
    text-align: left;
    text-indent: 5pt;
}

.special-table {
    width: 100%;
    background-color: #CAD8EA;
}

.special-table td {
    width: 90%;
    text-align: right;
    padding-right: 10px;
    background-color: #FFFFFF;
    font-size: 12px;
    height: 22px;
}

.special-table td.check {
    width: 10%;
    font-size: 12px;
    background-color: #FFFFFF;
    text-align: left;
    padding-left: 10px;
}

.table-form input.input-free {
    width: 50px;
    font-size: 12px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #6699CC;
    border-right-color: #DFE8F3;
    border-bottom-color: #DFE8F3;
    border-left-color: #6699CC;
}

.table-form select.common-select {
    font-size: 12px;
    width: 80px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #6699CC;
    border-right-color: #DFE8F3;
    border-bottom-color: #DFE8F3;
    border-left-color: #6699CC;
}

.table-form select.long-select {
    font-size: 12px;
    width: 96.7%;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #6699CC;
    border-right-color: #DFE8F3;
    border-bottom-color: #DFE8F3;
    border-left-color: #6699CC;
}

.table-form input.input-error {
    font-size: 12px;
    width: 88.5%;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #CC0000;
    border-right-color: #FFC1C1;
    border-bottom-color: #FFC1C1;
    border-left-color: #CC0000;
}

.table-form input.input-longer-error {
    font-size: 12px;
    width: 96.5%;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #CC0000;
    border-right-color: #FFC1C1;
    border-bottom-color: #FFC1C1;
    border-left-color: #CC0000;
}

.table-form textarea.textarea-error {
    font-size: 12px;
    width: 96.5%;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #CC0000;
    border-right-color: #FFC1C1;
    border-bottom-color: #FFC1C1;
    border-left-color: #CC0000;

}

.webEditor {
    font-size: 12px;
    width: 100%;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #6699CC;
    border-right-color: #DFE8F3;
    border-bottom-color: #DFE8F3;
    border-left-color: #6699CC;
    background-color: #FFFFFF;
}

.windoTable {
    height: 100%;
    width: 100%;
    text-align: center;
    vertical-align: middle; /*margin-top: 0px;*/
}

.windowsTitleTd {
    height: 45px;
    width: 425px;
    background-image: url(../images/windowHead.gif);
}

.windowsBodyTd {
    background-image: url(../images/windowBody.gif);
    background-repeat: no-repeat;
    height: 211px;
    width: 425px;
    vertical-align: top;
}

.windowDownTd {
    background-image: url(../images/windowsDown.gif);
    background-repeat: no-repeat;
    text-align: right;
    vertical-align: middle;
    height: 39px;
    width: 425px;
}

.windowsBottonTd {
    margin-right: 20px;
}

.windowsTitleFont {
}

.windowsInfoTable {
    width: 380px;
}

.windowsInfoTd {
    font-size: 18px;
    line-height: 160%;
    font-weight: normal;
    color: #FF6600;
    text-align: center;
    height: 160px;
    vertical-align: middle;
}

.windowsInfoTitleTd {
    text-align: left;
}

.windowsBg {
    background-image: url(../images/windowsbg.gif);
    margin: 0px;
    background-color: #FFFFFF;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: left top;
}

.table-form input.long {
    font-size: 12px;
    color: #003366;
    background-color: #FFFFFF;
    background-image: url(../images/bottonFontLong.gif);
    text-align: center;
    vertical-align: bottom;
    border: none;
    height: 23px;
    width: 80px;
}

.td1 {
    padding-top: 3px;
    padding-bottom: 3px;
    width: 15%;
    text-align: left;
    height: 23px;
    padding-left: 10px;
    border-left: #CAD8EA 1px solid;
    border-bottom: #CAD8EA 1px solid;
    width: 15%;
}

.td {
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: left;
    height: 23px;
    padding-left: 10px;
    border-right: #CAD8EA 1px solid;
    border-bottom: #CAD8EA 1px solid;
    width: 15%
}

.td2 {
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: left;
    height: 23px;
    padding-left: 10px;
    border-right: #CAD8EA 1px solid;
    border-bottom: #CAD8EA 1px solid;
    width: 35%
}

/* added by zwy ����js*/
.Calendar {
    font-family: verdana;
    text-decoration: none;
    width: 175;
    background-color: #E5E9F2;
    font-size: 9pt;
    border: 0px dotted #1C6FA5;
}

.CalendarTD {
    font-family: verdana;
    font-size: 7pt;
    color: #000000;
    background-color: #ffffff;
    height: 20px;
    width: 11%;
    text-align: center;
}

.Title {
    border-bottom: 1px 1px #999999;
    font-family: verdana;
    font-size: 11pt;
    font-weight: normal;
    height: 24px;
    text-align: center;
    color: #333333;
    text-decoration: none;
    background-color: #F3F5FA;
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-top-color: #999999;
    border-right-color: #999999;
    border-left-color: #999999
}

.Day {
    font-family: verdana;
    font-size: 7pt;
    color: #243F65;
    background-color: #F6F6F6;
    height: 20px;
    width: 11%;
    text-align: center;
}

.DaySat {
    font-family: verdana;
    font-size: 7pt;
    color: #243F65;
    text-decoration: none;
    background-color: #F6F6F6;
    text-align: center;
    height: 18px;
    width: 12%;
}

.DaySun {
    font-family: verdana;
    font-size: 7pt;
    color: #243F65;
    text-decoration: none;
    background-color: #F6F6F6;
    text-align: center;
    height: 18px;
    width: 12%;
}

.DayNow {
    font-family: verdana;
    font-size: 7pt;
    font-weight: bold;
    color: #FF0000;
    background-color: #FFFFFF;
    height: 20px;
    text-align: center;
}

.forDay {
    font-family: verdana;
    font-size: 7pt;
    font-weight: bold;
    color: #F2DE61;
    background-color: #FFFFFF;
    height: 20px;
    text-align: center;
}

.DayTitle {
    font-family: verdana;
    font-size: 9pt;
    color: #000000;
    background-color: #F8FAFB;
    height: 20px;
    width: 11%;
    text-align: center;
}

.DayTitle1 {
    font-size: 12px;
    color: #000000;
    background: #F8FAFB;
    height: 20px;
    width: 11%;
    text-align: left;
    text-indent: 10px;
}

.DaySatTitle {
    font-family: verdana;
    font-size: 9pt;
    color: #FF0000;
    text-decoration: none;
    background-color: #F8FAFB;
    text-align: center;
    height: 20px;
    width: 12%;
}

.DaySunTitle {
    font-family: verdana;
    font-size: 9pt;
    color: #FF0000;
    text-decoration: none;
    background-color: #E5E9F2;
    text-align: center;
    height: 20px;
    width: 12%;
}

.DayButton {
    font-family: Webdings;
    font-size: 9pt;
    font-weight: bold;
    color: #243F65;
    cursor: hand;
    text-decoration: none;
}

/* ��״���� */
.tablelocation {
    font-size: 14px;
    color: #336699;
    height: 22px;
    width: 100%;
    margin: 10px;

}

.table-div {
    margin: 15px;
    width: 98%;
    border-right-width: 3px;
    border-bottom-width: 4px;
    border-right-style: inset;
    border-bottom-style: inset;
    border-right-color: #E4E4E4;
    border-bottom-color: #BBBBBB;
    border-top-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-left-style: solid;
    border-top-color: #B7C9E2;
    border-left-color: #3D6498;
}

.table-div-table {
    width: 100%;
    background-color: #CAD8EA;
    houbo-border: expression( this . border = 0 );
    houbo-cellspacing: expression( this . cellSpacing = 1 );
    houbo-cellpadding: expression( this . cellPadding = 2 );
}

.table-div-table td {
    padding-left: 6px;
    padding-right: 10px;
    background-color: #F8FAFC;
    font-size: 12px;
    height: 22px;
}

.red {
    color: #FF0000;
}

.table-list {
    width: 99%;
    border-right-width: 3px;
    border-bottom-width: 4px;
    border-right-style: inset;
    border-bottom-style: inset;
    border-right-color: #E4E4E4;
    border-bottom-color: #BBBBBB;
    border-top-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-left-style: solid;
    border-top-color: #B7C9E2;
    border-left-color: #B7C9E2;
    margin-top: 10px;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
}

.table-table {
    width: 100%;
    houbo-border: expression( this . border = 0 );
    houbo-cellspacing: expression( this . cellSpacing = 0 );
    houbo-cellpadding: expression( this . cellPadding = 0 );
    border-top-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-left-style: solid;
    border-top-color: #CAD8EA;
    border-left-color: #CAD8EA;
}

.table-table td {
    font-size: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: left;
    height: 23px;
    padding-left: 5px;
    padding-right: 5px;
    border-right: #CAD8EA 1px solid;
    border-bottom: #CAD8EA 1px solid;
}

.table-table td.td2 {
    padding-left: 6px;
    padding-right: 10px;
    background-color: #E7EEF6;
    font-size: 12px;
    height: 22px;
}

/*���б�������������ʽ*/
.table-table td.table-title {
    font-size: 14px;
    color: #003366;
    text-align: left;
    text-indent: 20px;
    height: 22px;
    background-image: url(../images/tableTitleBg.gif);
    background-repeat: repeat-x;
}

/*�������ֶ���ʽ*/
.table-table td.table-title1 {
    font-size: 12px;
    color: #000000;
    text-align: center;
    height: 26px;
    background-color: #F8FAFB;
}

.table-table td.table-list_title {
    font-size: 12px;
    color: #000000;
    text-align: left;
    height: 22px;
    padding-left: 20px;
    background-color: #F8FAFB;
    width: 10%;
}

.table-table td.table-list_title1 {
    font-size: 14px;
    color: #003366;
    text-align: left;
    text-indent: 20px;
    height: 22px;
    background-image: url(../images/frame/tableHeadTitleBlueBg.gif);
    background-position: top;
}

.table-table td.table-list_title2 {
    font-size: 14px;
    color: #003366;
    text-align: left;
    text-indent: 20px;
    height: 22px;
    background-image: url(../images/frame/tableHeadTitleBlueBg_1.gif);
    background-position: top;
}

/*���б���������ʽ*/
.table-table td.two-content {
    font-size: 12px;
    background-color: #FFFFFF;
    text-align: left;
    padding-left: 10px;
}

/*���б���������ʽ,����ռ�������е����С������Ʋ���*/
.table-table td.half-content {
    font-size: 12px;
    background-color: #FFFFFF;
    text-align: right;
    padding-left: 10px;
}

/*���б���������ʽ,����ռ�������е����С�������в���*/
.table-table td.half-content-input {
    width: 50%;
    font-size: 12px;
    background-color: #FFFFFF;
    text-align: left;
    padding-left: 10px;
}

/*�ı�����ʽ*/
.text-area {
    font-size: 12px;
    line-height: 21px;
    width: 96.5%;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #6699CC;
    border-right-color: #DFE8F3;
    border-bottom-color: #DFE8F3;
    border-left-color: #6699CC;
    overflow: auto;
}

/*���б���������ʽ*/
.table-table td.four-content {
    font-size: 12px;
    background-color: #FFFFFF;
    text-align: left;
    padding-left: 10px;
}

/*���б���ԭ�ı��������������ʽ*/
.table-table td.four-label {
    font-size: 12px;
    background-color: #FFFFFF;
    text-align: left;
    padding-left: 10px;
}

/*���б���������ʽ*/
.table-table td.six-content {
    font-size: 12px;
    background-color: #FFFFFF;
    text-align: left;
    padding-left: 5px;
}

/*���б���������ʽ(������)*/
.table-table td.six-content2 {
    font-size: 12px;
    background-color: #FFFFFF;
    text-align: left;
    padding-left: 5px;
    td-nowrap: expression(this.noWrap=true);
}

/*���б���ԭ�ı��������������ʽ*/
.table-table td.six-label {
    font-size: 12px;
    background-color: #FFFFFF;
    text-align: right;
    padding-left: 5px;
}

/*���б���������ʽ*/
.table-table td.eight-content {
    font-size: 12px;
    background-color: #FFFFFF;
    text-align: left;
    padding-left: 10px;
}

/*���б���ԭ�ı��������������ʽ*/
.table-table td.eight-label {
    font-size: 12px;
    background-color: #FFFFFF;
    text-align: right;
    padding-left: 10px;
}

.input {
    font-size: 12px;
    width: 90%;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #6699CC;
    border-right-color: #DFE8F3;
    border-bottom-color: #DFE8F3;
    border-left-color: #6699CC;
}

.title_table1 {
    font-size: 13px;
    color: #003366;
    background: #dfe8f3;
    font-weight: bold;
    height: 20px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #6393d2;
}

.t1 {
    background-color: #ecf3fc;
}

/* ���еı���ɫ */
.t2 {
    background-color: #f8fbff;
}

/* ˫�еı���ɫ */
.t3 {
    background-color: #ffffff;
}

/* ��꾭��ʱ�ı���ɫ */