<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">
    <display-name>faqsystem_12</display-name>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>peri.fun.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/admin/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CheckCode</servlet-name>
        <servlet-class>peri.fun.servlet.CheckCode</servlet-class>
        <init-param>
            <param-name>width</param-name>
            <param-value>100</param-value>
        </init-param>
        <init-param>
            <param-name>height</param-name>
            <param-value>30</param-value>
        </init-param>
        <init-param>
            <param-name>number</param-name>
            <param-value>4</param-value>
        </init-param>
        <init-param>
            <param-name>codes</param-name>
            <param-value>ABCDEFGHIJKLMNOPQRSTUVWXYZ</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckCode</servlet-name>
        <url-pattern>/admin/CheckCode</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>QuestionClassifyServlet</servlet-name>
        <servlet-class>peri.fun.servlet.QuestionClassifyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QuestionClassifyServlet</servlet-name>
        <url-pattern>/admin/QuestionClassifyServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>QuestionServlet</servlet-name>
        <servlet-class>peri.fun.servlet.QuestionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QuestionServlet</servlet-name>
        <url-pattern>/admin/QuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RoleServlet</servlet-name>
        <servlet-class>peri.fun.servlet.RoleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RoleServlet</servlet-name>
        <url-pattern>/admin/RoleServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AnnouncementServlet</servlet-name>
        <servlet-class>peri.fun.servlet.AnnouncementServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AnnouncementServlet</servlet-name>
        <url-pattern>/admin/AnnouncementServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserManagerServlet</servlet-name>
        <servlet-class>peri.fun.servlet.UserManagerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserManagerServlet</servlet-name>
        <url-pattern>/admin/UserManagerServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RoleManagerServlet</servlet-name>
        <servlet-class>peri.fun.servlet.RoleManagerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RoleManagerServlet</servlet-name>
        <url-pattern>/admin/RoleManagerServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PowerDistributeServlet</servlet-name>
        <servlet-class>peri.fun.servlet.PowerDistributeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PowerDistributeServlet</servlet-name>
        <url-pattern>/admin/PowerDistributeServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserMemberServlet</servlet-name>
        <servlet-class>peri.fun.servlet.UserMemberServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserMemberServlet</servlet-name>
        <url-pattern>/admin/UserMemberServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserMemberServletw</servlet-name>
        <servlet-class>com.cissst.software.web.servlet.UserMemberServletw</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserMemberServletw</servlet-name>
        <url-pattern>/UserMemberServletw</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PublishQuestionServlet</servlet-name>
        <servlet-class>com.cissst.software.web.servlet.PublishQuestionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PublishQuestionServlet</servlet-name>
        <url-pattern>/PublishQuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>peri.fun.servlet.IndexServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/IndexServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DisplayQuestionServlet</servlet-name>
        <servlet-class>peri.fun.servlet.DisplayQuestionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisplayQuestionServlet</servlet-name>
        <url-pattern>/DisplayQuestionServlet</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>peri.fun.filter.LoginFilter</filter-class>
        <init-param>
            <param-name>filterpattern</param-name>
            <param-value>.*Servlet|.*\.jsp</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>EncodeFilter</filter-name>
        <filter-class>peri.fun.filter.EncodeFilter</filter-class>
        <init-param>
            <param-name>encode</param-name>
            <param-value>utf-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>EncodeFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <welcome-file-list>
        <welcome-file>IndexServlet</welcome-file>
    </welcome-file-list>
</web-app>